@import '@styles/variables';
@import '@styles/mixins';
@import '@styles/buttons';
@import '@styles/typography';


// Reset / base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
