

$color-primary: #777DF0; // Kominus signaturfärg (bakgrund på header/footer)


$color-text-dark: #000000; // Mörk textfärg för kontrast
$color-text-light: #fff; // Ljus textfärg för header/footer


$color-button-primary: #2F4790; // Primär knappfärg
$color-button-secondary: #adbde5; // Sekundär knappfärg